matplotlib==3.10.6
mapclassify
GitPython==3.1.45
numpy==2.3.5
pandas==2.3.3
plotly==6.3.0
scikit-image==0.25.2
scikit-learn==1.7.2
scipy==1.16.3
seaborn==0.13.2
streamlit==1.51.0
xarray==2025.10.1

# Spatial and mapping dependencies
geopandas
folium
leafmap


